
@{
    ViewBag.Title = "PlaceOrder";
}

<h2>PlaceOrder</h2>

<label for="cardNumber">შეიყვანეთ ბარათის ნომერი</label>
<input type="text" name="cardNumber" value=" " />

<label for="cardNumber">შეიყვანეთ ბარათის ნომერი</label>
<input type="text" name="cardNumber" value=" " />

<label for="cardNumber">შეიყვანეთ ბარათის ნომერი</label>
<input type="text" name="cardNumber" value=" " />

